@page "/status"
@using DL444.CquSchedule.Models;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject ApiService ApiService;

<h2>服务状态</h2>

@if (Loading)
{
    <div class="spinner-border" role="status" />
}
else
{
    <div class="d-flex align-items-center">
        @switch (StatusModel.CurrentStatusLevel)
        {
            case StatusLevel.Ok:
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon status-ok">
                    <path d="M1837 557L768 1627l-557-558 90-90 467 466 979-978 90 90z" />
                </svg>
                <span class="status-description status-ok">正常</span>
                break;
            case StatusLevel.Information:
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon status-info">
                    <path d="M960 1920q-133 0-255-34t-230-96-194-150-150-195-97-229T0 960q0-133 34-255t96-230 150-194 195-150 229-97T960 0q133 0 255 34t230 96 194 150 150 195 97 229 34 256q0 133-34 255t-96 230-150 194-195 150-229 97-256 34zm0-1792q-115 0-221 30t-198 84-169 130-130 168-84 199-30 221q0 114 30 220t84 199 130 169 168 130 199 84 221 30q114 0 220-30t199-84 169-130 130-168 84-199 30-221q0-114-30-220t-84-199-130-169-168-130-199-84-221-30zm-64 640h128v640H896V768zm0-256h128v128H896V512z" />
                </svg>
                <span class="status-description status-info">提示</span>
                break;
            case StatusLevel.Warning:
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon status-warning">
                    <path d="M1920 1920H0L960 0l960 1920zM207 1792h1506L960 286 207 1792zm817-1024v640H896V768h128zm-128 768h128v128H896v-128z" />
                </svg>
                <span class="status-description status-warning">警告</span>
                break;
            case StatusLevel.Error:
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon status-error">
                    <path d="M1024 0q141 0 272 36t244 104 207 160 161 207 103 245 37 272q0 141-36 272t-104 244-160 207-207 161-245 103-272 37q-141 0-272-36t-244-104-207-160-161-207-103-245-37-272q0-141 36-272t104-244 160-207 207-161T752 37t272-37zm0 1920q124 0 238-32t214-90 181-140 140-181 91-214 32-239q0-124-32-238t-90-214-140-181-181-140-214-91-239-32q-124 0-238 32t-214 90-181 140-140 181-91 214-32 239q0 124 32 238t90 214 140 181 181 140 214 91 239 32zm443-1249l-352 353 352 353-90 90-353-352-353 352-90-90 352-353-352-353 90-90 353 352 353-352 90 90z" />
                </svg>
                <span class="status-description status-error">错误</span>
                break;
        }
    </div>
    <p>@StatusModel.Description</p>

    @if (StatusModel.Incidents != null && StatusModel.Incidents.Length > 0)
    {
        <h3>历史事件</h3>
        @foreach (Incident incident in StatusModel.Incidents)
        {
            <div class="mb-2 font-weight-bold">
                @incident.Description
            </div>
            <div class="d-flex flex-wrap mb-2">
                <div class="d-flex align-items-center status-incident-column">
                    @if (incident.Resolved)
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon-small status-ok">
                            <path d="M1837 557L768 1627l-557-558 90-90 467 466 979-978 90 90z" />
                        </svg>
                        <span class="status-ok">已解决</span>
                    }
                    else
                    {
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon-small status-error">
                            <path d="M1608 897q65 2 122 27t99 69 66 100 25 123v192h-128v-192q0-32-10-61t-29-54-45-42-57-27q6 29 9 59t4 61v256q0 7-1 13t-2 13l6-6q60 60 92 138t32 163q0 85-32 162t-92 138l-90-90q42-42 64-95t22-114q0-68-31-132-31 100-90 183t-140 142-176 92-202 33q-105 0-201-33t-177-92-139-142-91-183q-31 64-31 132 0 60 22 113t64 96l-90 90q-60-60-92-137t-33-163q0-85 32-163t93-138l6 6q-1-7-2-13t-1-13v-256q0-30 3-60t10-60q-31 9-57 26t-44 42-29 54-11 62v192H128v-192q0-65 24-122t67-101 99-68 122-28q31-70 80-135-57-10-105-38t-84-71-55-94-20-111V256h128v192q0 40 15 75t41 61 61 41 75 15h64v3q47-35 96-59-15-32-23-66t-9-70q0-70 31-135L595 173l90-90 127 127q45-39 98-60t114-22q60 0 113 21t99 61l127-127 90 90-140 140q31 65 31 135 0 35-8 69t-24 67q26 13 49 27t47 32v-3h64q40 0 75-15t61-41 41-61 15-75V256h128v192q0 58-20 110t-55 95-83 70-106 39q49 65 80 135zm-584-641q-40 0-75 15t-61 41-41 61-15 75q0 50 24 90 42-11 83-17t85-7q43 0 84 6t84 18q24-40 24-90 0-40-15-75t-41-61-61-41-75-15zm512 896q0-104-41-197t-110-163-163-111-198-41q-105 0-198 41T664 792 553 955t-41 197v256q0 106 40 199t110 162 163 110 199 41q106 0 199-40t162-110 110-163 41-199v-256z" />
                        </svg>
                        <span class="status-error">未解决</span>
                    }
                </div>
                <div class="d-flex align-items-center status-incident-column">
                    @switch (incident.Level)
                    {
                        case StatusLevel.Ok:
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon-small status-ok">
                                <path d="M1837 557L768 1627l-557-558 90-90 467 466 979-978 90 90z" />
                            </svg>
                            <span class="status-ok">正常</span>
                            break;
                        case StatusLevel.Information:
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon-small status-info">
                                <path d="M960 1920q-133 0-255-34t-230-96-194-150-150-195-97-229T0 960q0-133 34-255t96-230 150-194 195-150 229-97T960 0q133 0 255 34t230 96 194 150 150 195 97 229 34 256q0 133-34 255t-96 230-150 194-195 150-229 97-256 34zm0-1792q-115 0-221 30t-198 84-169 130-130 168-84 199-30 221q0 114 30 220t84 199 130 169 168 130 199 84 221 30q114 0 220-30t199-84 169-130 130-168 84-199 30-221q0-114-30-220t-84-199-130-169-168-130-199-84-221-30zm-64 640h128v640H896V768zm0-256h128v128H896V512z" />
                            </svg>
                            <span class="status-info">提示</span>
                            break;
                        case StatusLevel.Warning:
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon-small status-warning">
                                <path d="M1920 1920H0L960 0l960 1920zM207 1792h1506L960 286 207 1792zm817-1024v640H896V768h128zm-128 768h128v128H896v-128z" />
                            </svg>
                            <span class="status-warning">警告</span>
                            break;
                        case StatusLevel.Error:
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048" class="status-icon-small status-error">
                                <path d="M1024 0q141 0 272 36t244 104 207 160 161 207 103 245 37 272q0 141-36 272t-104 244-160 207-207 161-245 103-272 37q-141 0-272-36t-244-104-207-160-161-207-103-245-37-272q0-141 36-272t104-244 160-207 207-161T752 37t272-37zm0 1920q124 0 238-32t214-90 181-140 140-181 91-214 32-239q0-124-32-238t-90-214-140-181-181-140-214-91-239-32q-124 0-238 32t-214 90-181 140-140 181-91 214-32 239q0 124 32 238t90 214 140 181 181 140 214 91 239 32zm443-1249l-352 353 352 353-90 90-353-352-353 352-90-90 352-353-352-353 90-90 353 352 353-352 90 90z" />
                            </svg>
                            <span class="status-error">错误</span>
                            break;
                    }
                </div>
                <div class="status-incident-column">
                    @incident.StartTime.UtcDateTime.ToString("yyyy.MM.dd hh:mm") - @incident.EndTime.UtcDateTime.ToString("yyyy.MM.dd hh:mm") (UTC)
                </div>
            </div>
            <div class="mb-4 status-incident-details">
                @incident.Details
            </div>
        }
    }

    @if (StatusModel.CurrentStatusLevel == StatusLevel.Ok || StatusModel.CurrentStatusLevel == StatusLevel.Information)
    {
        <h3>反馈</h3>
        <p>认为服务存在问题？<a href="@Configuration["ContactEmail"]">联系我们</a></p>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        try
        {
            Response<ServiceStatus> response = await ApiService.GetServiceStatusAsync();
            if (response.Success)
            {
                StatusModel = response.Data;
            }
            else
            {
                StatusModel = new ServiceStatus()
                {
                    CurrentStatusLevel = StatusLevel.Warning,
                    Description = response.Message
                };
            }
        }
        catch (Exception)
        {
            StatusModel = new ServiceStatus()
            {
                CurrentStatusLevel = StatusLevel.Warning,
                Description = "网络或服务存在问题，暂时无法获取状态信息"
            };
        }
        Loading = false;
    }

    private bool Loading { get; set; }
    private ServiceStatus StatusModel { get; set; }
}
